Html, body {
    height: 100%;
}

.center-contaniner {
    display: table;
    height: auto;
    margin: 0 auto;
}

.parent-container {
    display: table-cell;
    vertical-align: middle;
}

.bg-white {
    background: #ffffff;
}

.bg-gray {
    background: #f6f6f6;
}

.bg-login {
    background: #1686d9;
}

.bg-red {
    background: #B73030;
}

.cl-red {
    color: #B73030;
}

.card-title-shadow {
    box-shadow: 0px -1px 4px #80808096
}

.text-shadow {
    box-shadow: 10px 10px 5px grey;
}

.navbar .mega-dropdown {
    position: static !important;
}

.navbar .dropdown-menu.mega-menu {
    width: 100%;
    border: none;
    border-radius: 0;
}

.navbar .dropdown-menu.mega-menu a {
    padding: 0 0 0 0;
}

.navbar .dropdown-menu.mega-menu a.news-title-2 {
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.5;
    -webkit-transition: .2s;
    transition: .2s;
    color: #fff !important;
}

.navbar .dropdown-menu.mega-menu a.news-title-2:hover {
    color: #d0d6e2 !important;
}

.navbar .dropdown-menu.mega-menu .sub-menu a.menu-item-2 {
    color: #fff !important;
}

.navbar .dropdown-menu.mega-menu .sub-menu a.menu-item-2:hover {
    color: #fff !important;
}

.navbar .dropdown-menu.mega-menu .sub-title {
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e0e0e0;
}

.navbar .dropdown-menu.mega-menu .mt-sm {
    margin-top: -3px;
}

.navbar .dropdown-menu.mega-menu .font-small {
    font-size: 0.85rem;
}
.ver-menu-a {
    color: #B73030;
    font-weight: bold;
    margin-bottom: 0px;
}

.ver-menu-a:hover {
    color: #B73030;
    font-weight: normal;
    margin-bottom: 0px;
}

