Html, body {
    height:100%;
}
.center-contaniner {
    display:table;
    height:auto;
    margin: 0 auto;
}
.parent-container {
    display:table-cell;
    vertical-align:middle;
}
.bg-white {
    background: #ffffff;
}
.bg-gray {
    background: #f6f6f6;
}
.bg-login {
    background: #1686d9;
}
.card-title-shadow {
    box-shadow: 0px -1px 4px #80808096
}
.text-shadow {
    box-shadow: 10px 10px 5px grey;
}
